<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
        <meta name="description" content="MonoMuse website redesign project">
        <title>MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <img id="logo" src="../static/monomuselogo.png" height="200"/>
            <nav>
                <a href="../index.html">Home</a>
                <a id="navselected" href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a href="checkout.html">Checkout</a>
            </nav>
        </header>
        <div class="main">
            <img src="../static/museum.jpg" height="200"/>
            <h2>Mission Statement</h2>
            <p>MonoMuse's mission is to inspire curiosity and creativity by exploring the intersection of art, technology, and human expression through immersive, innovative, and interactive experiences that transform how people create, experience, and understand art.</p>
            <h2>Milestones</h2>
            <ul>
                <li>Opening of MonoMuse (2022) - Launched with immersive digital exhibitions blending art and technology.</li>
                <li>Interactive AI Gallery (2024) - Introduced a space where visitors co-create art with AI.</li>
                <li>Global Digital Residency (2026) - Began a virtual program for international digital artists.</li>
            </ul>
        </div>
    
        <footer>
            &copy; 2026 Monomuse. All rights reserved.
        </footer>
    </body>
</html>