<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Your name">
        <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
        <meta name="description" content="MonoMuse website redesign project">
        <title>MonoMuse</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js" defer></script>
    </head>
    <body onload="addYear()">
        <header>
            <img src="../static/monomuselogo.png"/>
            <nav>
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="tickets.html">Buy Tickets</a>
                <a id="navselected" href="checkout.html">Checkout</a>
            </nav>
        </header>
        <div class="main">
            <form>
                <div>
                    <label>Name: (required)</label>
                    <input type="text"/>
                </div>
                
                <div>
                    <label>Email: (required)</label>
                    <input type="email" />
                </div>
                
                <div>
                    <label>Ticket Quantity (required)</label>
                    <input type="number" />
                </div>

                <button>Submit</button>
            </form>
        </div>
    
        <footer>
            &copy;
            <p id="copyYear"></p>
        </footer>
    </body>
</html>